# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=bodyfit-b1563.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bodyfit-b1563
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=bodyfit-b1563.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=578179837108
NEXT_PUBLIC_FIREBASE_APP_ID=1:578179837108:web:2a7adee6baad9494fd7be1
